In [2]:
import numpy as np
import pandas as pd
import os

In [33]:
# get all files from ../data which start with evaluation and end with .csv
files = [f for f in os.listdir('../data') if f.startswith('evaluation') and f.endswith('.csv')]
# sort files by number
files

['evaluation_20231115.csv',
 'evaluation_20231122.csv',
 'evaluation_20231129.csv',
 'evaluation_20231206.csv',
 'evaluation_20231213.csv',
 'evaluation_20231220.csv',
 'evaluation_20240110.csv']

In [40]:
# read file from ./data directory using pandas read_csv
# df = pd.read_csv(f"../data/evaluation_20240110.csv")
df = pd.read_csv(f"../data/{files[6]}")

targets = ['energy', 'DAX']

for target in targets:

    print('= '*20)
    print(f"target = {target}")
    print('= '*20)

    df_target = df[df['target'] == target].dropna(axis=0)

    # for each horizon ['36 hour', '40 hour', '44 hour', '60 hour', '64 hour', '68 hour']
    for horizon in df_target['horizon'].unique():
        # get model with lowest mean_qscore
        df_target_horizon = df_target[df_target['horizon']==horizon]
        df_target_horizon = df_target_horizon.sort_values(by='mean_qscore')
        display(df_target_horizon.head(3))

= = = = = = = = = = = = = = = = = = = =
target = energy
= = = = = = = = = = = = = = = = = = = =

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
93,TormundGiantsbane,energy,36 hour,2024-01-10,64.886626,68.714618,70.566815,71.805704,74.001419,71.2565,0.318494,1.270941,0.689685,0.274602,0.137246,0.538194,0.689685,True,True,False
92,DaenerysTargaryen,energy,36 hour,2024-01-10,60.614000,64.694000,68.362000,71.593000,74.438000,71.2565,0.532125,3.281250,2.894500,0.168250,0.159075,1.407040,2.894500,True,True,False
83,Phoebe,energy,36 hour,2024-01-10,64.287932,66.356655,68.465844,70.051801,73.362934,71.2565,0.348428,2.449922,2.790656,1.807048,0.105322,1.500275,2.790656,False,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
104,TormundGiantsbane,energy,40 hour,2024-01-10,61.527319,64.794079,67.325175,69.182393,73.036034,67.7365,0.310459,1.471211,0.411325,0.722946,0.264977,0.636183,0.411325,True,True,False
97,Phoebe,energy,40 hour,2024-01-10,60.343794,63.112544,66.469458,68.014798,71.079343,67.7365,0.369635,2.311978,1.267042,0.139149,0.167142,0.850989,1.267042,True,True,False
106,DaenerysTargaryen,energy,40 hour,2024-01-10,56.151000,60.985000,63.467000,67.754000,70.964000,67.7365,0.579275,3.375750,4.269500,0.008750,0.161375,1.678930,4.269500,True,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
110,Rachel,energy,44 hour,2024-01-10,61.639525,62.573500,62.869250,62.873000,65.401000,63.058,0.070924,0.242250,0.188750,0.277500,0.117150,0.179315,0.188750,False,True,False
113,JonSnow,energy,44 hour,2024-01-10,63.574711,63.043697,63.437634,62.970051,62.979481,63.058,1.007586,0.007151,0.379634,0.131924,0.153113,0.335881,0.379634,False,False,False
109,BrienneVonTarth,energy,44 hour,2024-01-10,53.779057,60.712864,62.774663,63.583071,64.425743,63.058,0.463947,1.172568,0.283337,0.262535,0.068387,0.450155,0.283337,True,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
132,TormundGiantsbane,energy,60 hour,2024-01-10,55.404914,59.657298,62.080287,63.618100,66.037723,63.37225,0.398367,1.857476,1.291963,0.122925,0.133274,0.760801,1.291963,True,True,False
123,BrienneVonTarth,energy,60 hour,2024-01-10,50.353579,57.303200,59.394209,62.191007,65.773506,63.37225,0.650934,3.034525,3.978041,1.771864,0.120063,1.911085,3.978041,False,True,False
124,Rachel,energy,60 hour,2024-01-10,60.506500,60.868500,61.053500,61.425750,61.683150,63.37225,0.143288,1.251875,2.318750,2.919750,3.293745,1.985481,2.318750,False,False,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
145,TormundGiantsbane,energy,64 hour,2024-01-10,52.316317,57.414284,58.48997,60.848525,65.092144,62.169,0.492634,2.377358,3.67903,1.980712,0.146157,1.735178,3.67903,False,True,False
141,JonSnow,energy,64 hour,2024-01-10,60.298073,59.878506,60.20409,59.807228,59.839031,62.169,0.093546,1.145247,1.96491,3.542658,4.543439,2.257960,1.96491,False,False,False
79,MasterYoda,energy,64 hour,2023-12-20,44.562000,51.562000,59.56200,66.562000,75.562000,55.049,0.524350,1.743500,4.51300,5.756500,1.025650,2.712600,4.51300,True,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
156,TormundGiantsbane,energy,68 hour,2024-01-10,52.364609,56.348559,59.155365,60.002772,64.259275,58.50575,0.307057,1.078595,0.649615,0.748511,0.287676,0.614291,0.649615,True,True,False
154,mean_ensemble,energy,68 hour,2024-01-10,48.502416,51.793277,55.557707,58.518846,62.402971,58.50575,0.500167,3.356237,2.948043,0.006548,0.194861,1.401171,2.948043,True,True,False
153,Phoebe,energy,68 hour,2024-01-10,48.997144,51.304431,55.218020,57.950339,59.847373,58.50575,0.475430,3.600659,3.287730,0.833117,0.067081,1.652803,3.287730,False,True,False

= = = = = = = = = = = = = = = = = = = =
target = DAX
= = = = = = = = = = = = = = = = = = = =

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
11,JakePeralta,DAX,1 day,2024-01-10,-1.527674,-0.397897,0.029413,0.486945,1.494752,-0.85918,0.033425,0.691924,0.888593,0.673063,0.117697,0.480940,0.888593,False,True,False
10,Phoebe,DAX,1 day,2024-01-10,-1.644979,-0.473903,0.095277,0.632097,1.563315,-0.85918,0.039290,0.577915,0.954457,0.745638,0.121125,0.487685,0.954457,False,True,False
0,BrienneVonTarth,DAX,1 day,2024-01-10,-3.055521,-0.566573,0.071923,0.741839,2.645396,-0.85918,0.109817,0.438911,0.931103,0.800509,0.175229,0.491114,0.931103,False,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
16,Rachel,DAX,2 day,2024-01-10,-2.047753,-0.149088,0.174091,0.455188,1.716431,0.088338,0.106805,0.118713,0.085752,0.183425,0.081405,0.115220,0.085752,True,True,False
18,CharlesBoyle,DAX,2 day,2024-01-10,-1.012779,-0.167020,0.260406,0.610149,1.447615,0.088338,0.055056,0.127679,0.172067,0.260905,0.067964,0.136734,0.172067,True,True,False
21,MasterYoda,DAX,2 day,2023-12-20,-1.974900,-0.533000,0.031450,0.621800,2.552700,0.088338,0.103162,0.310669,0.056888,0.266731,0.123218,0.172134,0.056888,True,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
38,TormundGiantsbane,DAX,5 day,2024-01-10,-2.306961,-0.714421,0.130356,0.876028,2.349321,-0.405799,0.095058,0.154311,0.536154,0.640913,0.137756,0.312839,0.536154,True,True,False
37,JakePeralta,DAX,5 day,2024-01-10,-2.612932,-0.762116,0.086551,0.907767,2.546678,-0.405799,0.110357,0.178158,0.492350,0.656783,0.147624,0.317054,0.492350,True,True,False
34,MasterYoda,DAX,5 day,2023-12-20,-2.386600,-0.690100,0.100600,0.964300,3.200000,-0.405799,0.099040,0.142151,0.506399,0.685049,0.180290,0.322586,0.506399,True,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
50,JakePeralta,DAX,6 day,2024-01-10,-2.962005,-0.873083,0.130488,1.067680,3.007064,-0.710319,0.112584,0.081382,0.840807,0.888999,0.185869,0.421928,0.840807,True,True,False
47,MasterYoda,DAX,6 day,2023-12-20,-2.994000,-0.771100,0.185500,1.069300,3.638400,-0.710319,0.114184,0.030390,0.895819,0.889810,0.217436,0.429528,0.895819,True,True,False
51,TormundGiantsbane,DAX,6 day,2024-01-10,-2.225079,-0.531226,0.216927,0.892525,2.536335,-0.710319,0.075738,0.268640,0.927246,0.801422,0.162333,0.447076,0.927246,False,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
62,Phoebe,DAX,7 day,2024-01-10,-4.211969,-1.416892,0.120301,1.907698,4.239251,-1.558663,0.132665,0.212657,1.678964,1.733181,0.289896,0.809472,1.678964,False,True,False
63,JakePeralta,DAX,7 day,2024-01-10,-3.152004,-0.876685,0.122186,1.209805,3.170364,-1.558663,0.079667,1.022967,1.680849,1.384234,0.236451,0.880834,1.680849,False,True,False
60,MasterYoda,DAX,7 day,2023-12-20,-3.051300,-0.883200,0.032300,1.336400,4.139900,-1.558663,0.074632,1.013195,1.590963,1.447532,0.284928,0.882250,1.590963,False,True,False

= = = = = = = = = = = = = = = = = = = =
target = energy
= = = = = = = = = = = = = = = = = = = =

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
100,homersimpson,energy,36 hour,2023-11-15,65.790438,68.019023,68.436904,69.387044,70.081629,67.357,0.078328,0.993035,1.079904,1.015022,0.136231,0.660504,1.079904,False,True,False
104,Phoebe,energy,36 hour,2023-11-15,64.337690,66.397130,68.497120,70.134000,73.449280,67.357,0.150966,0.479935,1.140120,1.388500,0.304614,0.692827,1.140120,True,True,False
106,JakePeralta,energy,36 hour,2023-11-15,55.284500,63.685224,67.353501,70.629732,75.327250,67.357,0.603625,1.835888,0.003499,1.636366,0.398513,0.895578,0.003499,True,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
114,homersimpson,energy,40 hour,2023-11-15,60.201133,63.22015,63.680122,64.240926,66.711666,64.13425,0.196656,0.457050,0.454128,0.053338,0.128871,0.258009,0.454128,True,True,False
118,Phoebe,energy,40 hour,2023-11-15,60.428630,63.14456,66.540500,67.946690,71.088210,64.13425,0.185281,0.494845,2.406250,1.906220,0.347698,1.068059,2.406250,True,True,False
121,DaenerysTargaryen,energy,40 hour,2023-11-15,55.947000,58.13200,62.809000,65.126000,71.152000,64.13425,0.409363,3.001125,1.325250,0.495875,0.350888,1.116500,1.325250,True,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
128,homersimpson,energy,44 hour,2023-11-15,55.369090,57.813928,60.142127,60.231989,63.142021,59.743,0.218695,0.964536,0.399127,0.244494,0.169951,0.399361,0.399127,True,True,False
131,Rachel,energy,44 hour,2023-11-15,50.000861,56.685054,59.397787,61.791135,65.020050,59.743,0.487107,1.528973,0.345213,1.024067,0.263852,0.729843,0.345213,True,True,False
126,median_ensemble,energy,44 hour,2023-11-15,50.237930,54.904125,59.168813,61.011562,66.563772,59.743,0.475253,2.419437,0.574188,0.634281,0.341039,0.888840,0.574188,True,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
142,homersimpson,energy,60 hour,2023-11-15,52.433380,54.726961,56.030935,57.588076,59.367468,56.28225,0.192444,0.777644,0.251315,0.652913,0.154261,0.405715,0.251315,True,True,False
145,Rachel,energy,60 hour,2023-11-15,47.973895,54.658088,57.370821,59.764169,62.993084,56.28225,0.415418,0.812081,1.088571,1.740959,0.335542,0.878514,1.088571,True,True,False
140,median_ensemble,energy,60 hour,2023-11-15,47.709754,51.750094,55.741968,57.959437,63.465050,56.28225,0.428625,2.266078,0.540282,0.838594,0.359140,0.886544,0.540282,True,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
160,Phoebe,energy,64 hour,2023-11-15,51.142180,53.323880,56.413880,60.120190,61.823320,56.03325,0.244554,1.354685,0.380630,2.043470,0.289504,0.862568,0.380630,True,True,False
159,Rachel,energy,64 hour,2023-11-15,44.032233,50.716425,53.429159,55.822506,59.051421,56.03325,0.600051,2.658412,2.604091,0.316115,0.150909,1.265916,2.604091,False,True,False
162,JakePeralta,energy,64 hour,2023-11-15,44.338999,53.343536,57.562000,61.170711,65.847501,56.03325,0.584713,1.344857,1.528750,2.568731,0.490713,1.303553,1.528750,True,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
174,Phoebe,energy,68 hour,2023-11-15,49.896940,51.250250,55.024750,57.624690,58.799260,53.96175,0.203240,1.355750,1.063000,1.831470,0.241875,0.939067,1.063000,True,True,False
173,Rachel,energy,68 hour,2023-11-15,43.130810,49.815003,52.527737,54.921084,58.149999,53.96175,0.541547,2.073373,1.434013,0.479667,0.209412,0.947603,1.434013,True,True,False
170,homersimpson,energy,68 hour,2023-11-15,47.757376,51.002558,51.827788,52.852153,55.631956,53.96175,0.310219,1.479596,2.133962,1.664395,0.083510,1.134336,2.133962,False,True,False

= = = = = = = = = = = = = = = = = = = =
target = DAX
= = = = = = = = = = = = = = = = = = = =

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
5,CharlesBoyle,DAX,1 day,2023-11-15,-1.583897,-0.321414,0.154105,0.701414,1.793740,0.243797,0.091385,0.282606,0.089692,0.228808,0.077497,0.153998,0.089692,True,True,False
13,TyrionLannister,DAX,1 day,2023-11-15,-1.556189,-0.392100,0.051548,0.506613,1.465038,0.243797,0.089999,0.317949,0.192249,0.131408,0.061062,0.158533,0.192249,True,True,False
6,Phoebe,DAX,1 day,2023-11-15,-1.712797,-0.393847,0.043938,0.544948,1.663355,0.243797,0.097830,0.318822,0.199859,0.150576,0.070978,0.167613,0.199859,True,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
23,mean_ensemble,DAX,2 day,2023-11-15,-2.859153,-0.522678,0.386902,1.276552,3.250517,1.079926,0.196954,0.801302,0.693025,0.098313,0.108530,0.379625,0.693025,True,True,False
19,CharlesBoyle,DAX,2 day,2023-11-15,-1.838776,-0.767884,0.207425,1.162181,2.499607,1.079926,0.145935,0.923905,0.872501,0.041128,0.070984,0.410891,0.872501,True,True,False
15,median_ensemble,DAX,2 day,2023-11-15,-3.479364,-0.763797,0.063269,0.987420,3.226130,1.079926,0.227965,0.921862,1.016657,0.138759,0.107310,0.482511,1.016657,False,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
34,Phoebe,DAX,5 day,2023-11-15,-3.071343,-0.730688,0.184774,0.982023,2.628337,0.96786,0.201960,0.849274,0.783085,0.007082,0.083024,0.384885,0.783085,True,True,False
41,TyrionLannister,DAX,5 day,2023-11-15,-2.743213,-0.748071,0.116638,0.953724,2.638066,0.96786,0.185554,0.857965,0.851222,0.021203,0.083510,0.399891,0.851222,False,True,False
37,mean_ensemble,DAX,5 day,2023-11-15,-3.548904,-0.767037,0.418235,1.433739,3.772743,0.96786,0.225838,0.867448,0.549625,0.232940,0.140244,0.403219,0.549625,True,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
48,Phoebe,DAX,6 day,2023-11-15,-3.288298,-0.818593,0.159586,1.133861,3.229900,0.96283,0.212556,0.890711,0.803244,0.085516,0.113354,0.421076,0.803244,True,True,False
51,mean_ensemble,DAX,6 day,2023-11-15,-4.001442,-0.716630,0.401360,1.594528,4.139435,0.96283,0.248214,0.839730,0.561469,0.315849,0.158830,0.424818,0.561469,True,True,False
55,TyrionLannister,DAX,6 day,2023-11-15,-3.012888,-0.918954,0.066735,1.069299,3.122556,0.96283,0.198786,0.940892,0.896095,0.053235,0.107986,0.439399,0.896095,True,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
62,Phoebe,DAX,7 day,2023-11-15,-3.416407,-0.880619,0.172944,1.324509,3.728578,1.322485,0.236945,1.101552,1.149541,0.001012,0.120305,0.521871,1.149541,True,True,False
65,mean_ensemble,DAX,7 day,2023-11-15,-4.227383,-0.865210,0.594564,2.048354,4.750066,1.322485,0.277493,1.093847,0.727921,0.362935,0.171379,0.526715,0.727921,True,True,False
68,JakePeralta,DAX,7 day,2023-11-15,-4.779444,-0.991620,0.280321,1.373925,4.279067,1.322485,0.305096,1.157052,1.042164,0.025720,0.147829,0.535572,1.042164,True,True,False