In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
# get all files from ../data which start with evaluation and end with .csv
files = [f for f in os.listdir('../data') if f.startswith('evaluation') and f.endswith('.csv')]
# sort files by number
files

['evaluation_20231115.csv',
 'evaluation_20231122.csv',
 'evaluation_20231129.csv',
 'evaluation_20231206.csv',
 'evaluation_20231213.csv',
 'evaluation_20231220.csv',
 'evaluation_20240110.csv',
 'evaluation_20240117.csv']

In [7]:
# read file from ./data directory using pandas read_csv
df = pd.read_csv(f"../data/{files[-1]}")

targets = ['energy', 'DAX']

for target in targets:

    print('= '*20)
    print(f"target = {target}")
    print('= '*20)

    df_target = df[df['target'] == target].dropna(axis=0)

    # for each horizon ['36 hour', '40 hour', '44 hour', '60 hour', '64 hour', '68 hour']
    for horizon in df_target['horizon'].unique():
        # get model with lowest mean_qscore
        df_target_horizon = df_target[df_target['horizon']==horizon]
        df_target_horizon = df_target_horizon.sort_values(by='mean_qscore')
        display(df_target_horizon.head(5))

= = = = = = = = = = = = = = = = = = = =
target = energy
= = = = = = = = = = = = = = = = = = = =

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
47,TormundGiantsbane,energy,36 hour,2024-01-17,65.875052,70.497698,72.017477,73.469347,75.067682,73.72975,0.392735,1.616026,1.712273,0.390605,0.066897,0.835707,1.712273,False,True,False
38,JonSnow,energy,36 hour,2024-01-17,64.057678,70.027924,70.872932,75.010704,77.218788,73.72975,0.483604,1.850913,2.856818,0.640477,0.174452,1.201253,2.856818,True,True,False
46,DaenerysTargaryen,energy,36 hour,2024-01-17,64.425000,68.633000,71.427000,74.635000,78.753000,73.72975,0.465238,2.548375,2.302750,0.452625,0.251163,1.204030,2.302750,True,True,False
41,StannisBaratheon,energy,36 hour,2024-01-17,56.537261,68.678706,70.538118,72.328367,75.645823,73.72975,0.859624,2.525522,3.191632,2.102074,0.095804,1.754931,3.191632,False,True,False
45,JakePeralta,energy,36 hour,2024-01-17,58.324867,64.902470,68.517759,70.959155,75.874334,73.72975,0.770244,4.413640,5.211991,4.155892,0.107229,2.931799,5.211991,False,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
61,TormundGiantsbane,energy,40 hour,2024-01-17,61.353449,66.265031,67.973154,70.044257,72.930195,69.58725,0.411690,1.661109,1.614096,0.228503,0.167147,0.816509,1.614096,True,True,False
52,JonSnow,energy,40 hour,2024-01-17,61.880836,66.906807,68.240898,72.040749,73.287773,69.58725,0.385321,1.340222,1.346352,1.226749,0.185026,0.896734,1.346352,True,True,False
60,DaenerysTargaryen,energy,40 hour,2024-01-17,60.643000,63.754000,67.852000,70.342000,73.654000,69.58725,0.447213,2.916625,1.735250,0.377375,0.203338,1.135960,1.735250,True,True,False
55,StannisBaratheon,energy,40 hour,2024-01-17,52.837827,65.010661,67.016717,68.724583,72.194020,69.58725,0.837471,2.288295,2.570533,1.294001,0.130338,1.424128,2.570533,False,True,False
51,mean_ensemble,energy,40 hour,2024-01-17,55.442154,61.856543,65.287401,68.637746,72.580386,69.58725,0.707255,3.865354,4.299849,1.424256,0.149657,2.089274,4.299849,False,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
75,TormundGiantsbane,energy,44 hour,2024-01-17,60.034081,63.984531,66.259053,67.594561,69.429948,66.40475,0.318533,1.210110,0.145697,0.594905,0.151260,0.484101,0.145697,True,True,False
78,JonSnow,energy,44 hour,2024-01-17,60.779305,62.762531,64.174416,68.024254,68.785774,66.40475,0.281272,1.821109,2.230334,0.809752,0.119051,1.052304,2.230334,True,True,False
74,DaenerysTargaryen,energy,44 hour,2024-01-17,56.853000,60.642000,62.653000,66.854000,72.758000,66.40475,0.477587,2.881375,3.751750,0.224625,0.317663,1.530600,3.751750,True,True,False
69,StannisBaratheon,energy,44 hour,2024-01-17,51.777005,61.195773,62.838601,64.403030,68.190945,66.40475,0.731387,2.604488,3.566149,3.002580,0.089310,1.998783,3.566149,False,True,False
67,Rachel,energy,44 hour,2024-01-17,63.062031,63.762250,63.961750,64.158750,64.825262,66.40475,0.167136,1.321250,2.443000,3.369000,3.080001,2.076077,2.443000,False,False,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
81,Rachel,energy,60 hour,2024-01-17,61.852250,62.644500,62.900500,63.372250,63.791000,62.7945,0.047113,0.075000,0.106000,0.288875,0.049825,0.113363,0.106000,True,True,False
89,TormundGiantsbane,energy,60 hour,2024-01-17,57.261961,61.968193,62.503708,64.616512,67.003410,62.7945,0.276627,0.413153,0.290792,0.911006,0.210446,0.420405,0.290792,True,True,False
83,StannisBaratheon,energy,60 hour,2024-01-17,53.748165,60.931882,62.625511,64.197537,67.123006,62.7945,0.452317,0.931309,0.168989,0.701519,0.216425,0.494112,0.168989,True,True,False
93,JonSnow,energy,60 hour,2024-01-17,57.528931,60.668816,61.805847,64.520790,64.131546,62.7945,0.263278,1.062842,0.988653,0.863145,0.066852,0.648954,0.988653,True,True,False
80,BrienneVonTarth,energy,60 hour,2024-01-17,50.645761,57.598208,59.616702,62.480074,66.685676,62.7945,0.607437,2.598146,3.177798,0.471639,0.194559,1.409916,3.177798,False,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
107,JonSnow,energy,64 hour,2024-01-17,54.591389,57.760727,58.559002,60.839371,62.414742,57.89975,0.165418,0.069512,0.659252,1.469810,0.225750,0.517948,0.659252,True,True,False
95,Rachel,energy,64 hour,2024-01-17,57.581750,58.459750,59.158000,59.932500,60.415806,57.89975,0.015900,0.840000,1.258250,1.016375,0.125803,0.651266,1.258250,False,True,False
101,JakePeralta,energy,64 hour,2024-01-17,49.067564,54.909106,57.747947,60.121355,64.654968,57.89975,0.441609,1.495322,0.151803,1.110802,0.337761,0.707460,0.151803,True,True,False
99,median_ensemble,energy,64 hour,2024-01-17,48.642489,53.567206,57.747947,60.121355,63.868981,57.89975,0.462863,2.166272,0.151803,1.110802,0.298462,0.838040,0.151803,True,True,False
103,TormundGiantsbane,energy,64 hour,2024-01-17,52.974697,57.620257,59.693452,62.251365,65.900412,57.89975,0.246253,0.139747,1.793702,2.175808,0.400033,0.951108,1.793702,True,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
118,Rachel,energy,68 hour,2024-01-17,55.132000,56.842125,57.114750,58.025750,59.492231,57.41425,0.114113,0.286062,0.299500,0.305750,0.103899,0.221865,0.299500,True,True,False
122,homersimpson,energy,68 hour,2024-01-17,48.857428,56.260714,57.004054,57.307156,59.413053,57.41425,0.427841,0.576768,0.410196,0.160641,0.099940,0.335077,0.410196,False,True,False
119,Phoebe,energy,68 hour,2024-01-17,45.737074,55.539240,57.157356,57.831856,61.700686,57.41425,0.583859,0.937505,0.256894,0.208803,0.214322,0.440277,0.256894,True,True,False
111,StannisBaratheon,energy,68 hour,2024-01-17,50.589259,56.229647,57.800500,59.061957,61.222057,57.41425,0.341250,0.592302,0.386250,0.823854,0.190390,0.466809,0.386250,True,True,False
121,JonSnow,energy,68 hour,2024-01-17,53.390141,56.549107,58.772770,59.213043,59.346821,57.41425,0.201205,0.432572,1.358520,0.899397,0.096629,0.597664,1.358520,True,True,False

= = = = = = = = = = = = = = = = = = = =
target = DAX
= = = = = = = = = = = = = = = = = = = =

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
10,Rachel,DAX,1 day,2024-01-17,-2.195451,-0.448133,0.259266,0.969196,2.398786,0.822211,0.150883,0.635172,0.562945,0.073492,0.078829,0.300264,0.562945,True,True,False
0,mean_ensemble,DAX,1 day,2024-01-17,-1.981363,-0.449071,0.171107,0.791652,2.066057,0.822211,0.140179,0.635641,0.651104,0.045840,0.062192,0.306991,0.651104,False,True,False
5,Phoebe,DAX,1 day,2024-01-17,-1.608418,-0.521125,0.083733,0.613394,1.471672,0.822211,0.121531,0.671668,0.738478,0.313226,0.032473,0.375475,0.738478,False,True,False
14,StannisBaratheon,DAX,1 day,2024-01-17,-2.166497,-0.431689,0.054680,0.627322,1.799738,0.822211,0.149435,0.626950,0.767531,0.292335,0.048876,0.377026,0.767531,False,True,False
9,DAX_benchmark,DAX,1 day,2024-01-17,-3.321265,-0.543724,0.065019,0.710654,2.719772,0.822211,0.207174,0.682968,0.757193,0.167336,0.094878,0.381910,0.757193,False,True,False

,model,target,horizon,forecast_date,q0.025,q0.25,q0.5,q0.75,q0.975,value,qscore_q0.025,qscore_q0.25,qscore_q0.5,qscore_q0.75,qscore_q0.975,mean_qscore,ae,interval_coverage_0.5,interval_coverage_0.95,scores_imputed
28,homersimpson,DAX,2 day,2024-01-17,0.933631,0.974111,0.990672,0.991902,1.006132,0.748432,0.361138,0.338518,0.242240,0.121735,0.012885,0.215303,0.242240,False,False,False
24,Rachel,DAX,2 day,2024-01-17,-2.460931,-0.499295,0.584887,1.121158,2.531658,0.748432,0.160468,0.623864,0.163545,0.186363,0.089161,0.244680,0.163545,True,True,False
22,mean_ensemble,DAX,2 day,2024-01-17,-2.166853,-0.506646,0.284179,0.953019,2.384432,0.748432,0.145764,0.627539,0.464253,0.102293,0.081800,0.284330,0.464253,True,True,False
15,CharlesBoyle,DAX,2 day,2024-01-17,-1.188152,-0.218958,0.072743,0.547879,1.260298,0.748432,0.096829,0.483695,0.675690,0.300829,0.025593,0.316527,0.675690,False,True,False
27,median_ensemble,DAX,2 day,2024-01-17,-2.145728,-0.592364,0.080265,0.801848,2.241514,0.748432,0.144708,0.670398,0.668167,0.026708,0.074654,0.316927,0.668167,True,True,False